body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    background: url("https://activeforlife.com/content/uploads/2018/02/FR-welcome-1024x683.jpg");
}

.container {
    max-width: 800px;
    margin: 300px auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    color: #555;
}

.choices {
    margin-top: 20px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.public {
    background-color: #3498db;
}

.public:hover {
    background-color: #2980b9;
}

.private {
    background-color: #e74c3c;
}

.private:hover {
    background-color: #c0392b;
}
