body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background: url("https://img.freepik.com/photos-premium/dessin-architectural-abstrait-interieur-blanc-partir-tableau-eclairage-au-neon-degrade-couleur-3d_689904-91498.jpg?size=626&ext=jpg");

}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: burlywood;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.publication-form {
    margin-bottom: 20px;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

textarea, input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.add-button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.publications-list {
    /* Styles pour la liste des publications */
}

.publication {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #ecf0f1;
    border-radius: 5px;
}

.edit-button, .delete-button {
    margin-top: 5px;
    padding: 5px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    cursor: pointer;
}

.edit-button:hover, .delete-button:hover {
    background-color: #27ae60;
}
