<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page d'Accueil</title>
    <link rel="stylesheet" href="Acceuil.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenue sur notre site</h1>
        <p>Choisissez votre option :</p>
        <div class="choices">
            <a href="/espacePublic" class="public">Blog Public</a>
            <a href="/login" class="private">Blog Privé</a>
        </div>
    </div>
</body>
</html>