<!-- espace.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/espace.css">
    <title>User Interface</title>
</head>
<body>
    <button id="logoutBtn" type="submit">Se déconnecter</button>
    <div class="container">
        
            <!-- Affichez les publications et désactivez les boutons -->
            <div class="publications">
                <!-- Affichez les publications ici -->
            </div>

       
            <!-- Affichez normalement les boutons pour un utilisateur authentifié -->
            <div class="publication-form">
                <h2>Ajouter une publication</h2>
                <form id="publicationForm" method="POST" action="/publication">
                    <label for="title">Titre:</label>
                    <input type="text" id="title" name="title" required>

                    <label for="content">Contenu:</label>
                    <textarea id="content" name="content" rows="4" required></textarea>

                    <button id="publishButton" class="<%= actionsDisabled ? 'disabled' : '' %>" type="submit" <%= actionsDisabled ? 'disabled' : '' %>>Publier</button>
                </form>
            </div>
            <div id="publicationsList" class="publications-list">
                <h2>Liste des publications</h2>
                <!-- Zone pour afficher les publications existantes -->
                <div class="publication">

                
            </div>
      
    </div>
    <!-- <script defer src="espace.js"> -->
     
        <script src="espace.js"></script>
        
</body>
</html>
