<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate 2FA Secret</title>
    <link rel="stylesheet" href="Qrcode.css">
</head>
<body>
    <h2>Scannez le code QR avec Google Authenticator</h2>
    <img src="<%= imageUrl %>" alt="Code QR" />
    <form method="POST" action="/enable-2fa">
        <button type="submit" name="choice" value="yes">Oui</button>
        <button type="submit" name="choice" value="no">Non</button>
    </form>
</body>
</html>
